NEXT_PUBLIC_SANITY_PROJECT_ID="<paste your project here>" # Required - The ID of your Sanity project
NEXT_PUBLIC_SANITY_DATASET="production" # Required - The dataset of your Sanity project
NEXT_PUBLIC_SANITY_API_VERSION="2025-09-25" # Optional - The API version provided to the Sanity Client
NEXT_PUBLIC_SANITY_STUDIO_URL="" #Optional, defaults to http://localhost:3333
SANITY_API_READ_TOKEN="skmTU7isRpUM6C18g1Qil8bHmr5AYSmMLboXIMXMduNHo92V5z6qOtewCwSn42Ii5Oodtiesg4iEEogsAeODP0GDLrzUsLZu7UP0B2DQwB7Tbj03iRYV15AQwsYUKBogBvMYUYY1oeKKuHyFgCb6oN9w54bHeSzNacT3RahLpBxC1YRVFUW0>" # Required - The read token for your Sanity project
