SANITY_STUDIO_PROJECT_ID="1lvgdubg" # Required - The ID of your Sanity project
SANITY_STUDIO_DATASET="production" # Required - The dataset of your Sanity project
SANITY_STUDIO_PREVIEW_URL="" #Optional - defaults to http://localhost:3000
SANITY_STUDIO_STUDIO_HOST="" #Optional
SANITY_STUDIO_VERCEL_DEPLOY_HOOK="https://api.vercel.com/v1/integrations/deploy/prj_C6eX0Yez0HxGYU3mkp7YFkhISfxq/Jmt9Nv5MFy" # Required for deploy plugin - Get this from Vercel: Project Settings > Git > Deploy Hooks